.Header{
    position: relative;
    background-color: #AB2A19;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header h1{
    font-size: 40px;
    font-weight: 600;
}
.Header div{
    margin: 10px;
}
