.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.BinsButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Save{
  background-color:green;
}

.bigButton{
  width: 400px;
  height: 40px;
  margin: 5px;
  background-color: #D34735;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;

}

.empty{
  background-color: #FFB8AF;
}

.Link{
  text-decoration: none;
  color:white;
}
h1{
  color:white;
}

